*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}
/* seletor global */


html{
    --black: #0D114F;
    --white: #FAFAFA;
    --white-300: #FAF7FD;
    --red: #E83F5B;
    --purple: #BB99DD;
    --black: #000000;
    --black2: #525256;
    --blue-700: #1557b7;


    font-size: 62.5%;
}

body{
    display: flex;
    height: 100%;

    background: var(--white-300);
}

body, h1 {
    font-family: 'Open Sans', sans-serif;
}

.main {
   
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 700px;
    max-width: min(170rem, 95%);
    height: 80rem;
    
    margin: 20px;
    
    
}

.img {
    width: 100%;
    height: 220px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5rem;


}

.img img {
    width: 13.5rem;
    height: 13.5rem;
    border-radius: 50%;
    border: 3px solid  var(--blue-700);
    margin-top: 2rem;
    padding: .4rem;
}

.container .img h1{
    font-family: 'Poppins', sans-serif;
    font-size: clamp(20px, 5vw, 1.8rem);
    
    color: var(--black);
    margin-top: 1rem;
    border-bottom: 1px solid var(--blue-700);

}
                    
.container .img h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: var(--black-200);
    margin-top: 1rem;
    font-size: 1.5rem;
}

.container .description {
    width: 90%;
    margin: auto;
    color: var(--black2);
    text-align: justify;
    padding: 1rem 1.7rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.4rem;

    
}

.links{
  max-width: min(112rem, 90%);
  height: 30rem;
  margin: auto;
  margin-top: 2rem;
  
}

.links .links-social {
    width: 100%;
    height: 5.5rem;
    margin-top: 1.5rem;
    border: 1px solid var(--black);
    border-radius: 8px;
    display: flex;
    align-items: center;
    
}

.links .links-social a {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    color: var(--white);
    font-size: 1.4rem;
    justify-content: center;
    background-color: rgb(105, 100, 100);
    border-radius: 6px;
    gap: 2rem;
    
}

.links .links-social a:hover {

    filter: brightness(1.2);
    
    
}

.links .links-social a div {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    justify-content: center;
   
}


.links .links-social a i {
    font-size: 2.7rem;
    
	line-height: 40px;    
    color: var(--white);
}

.links .links-social a i strong {
    margin-left: 1rem;
}


.midias {
    background-color: rgb(245, 238, 238);
    width: 100%;
    height: 10rem;
    margin: auto;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.instagram a span, #i {
    color: rgb(119, 4, 100);
}

.midias a {
    font-size: 2rem;
    width: 100%;
    height: 10rem;
}





